Repository alexlee0213/handon-vibe-coding-realworld-vibe-coding: changes, and which lefthook commands are due for each by the changed paths.
All: backend-fmt, backend-vet, frontend-lint, frontend-typecheck

backend-fmt:
  run: cd backend && go fmt ./...
  stage_fixed: true

backend-vet:
  run: cd backend && go vet ./...

frontend-lint:
  run: cd frontend && npm run lint

frontend-typecheck:
  run: cd frontend && npm run typecheck

feat(scripts): Add retry logic for UNKNOWN mergeable status
  scripts/pr-review.sh
Due: none

feat(frontend): Add FavoriteButton with optimistic updates (Phase 6.3) (#32)
  frontend/src/components/article/ArticleCard.tsx
  frontend/src/components/article/FavoriteButton.test.tsx
  frontend/src/components/article/FavoriteButton.tsx
  frontend/src/components/article/index.ts
  frontend/src/features/article/api.ts
  frontend/src/features/article/hooks.ts
  frontend/src/features/article/index.ts
Due: frontend-lint, frontend-typecheck

feat(security): add security review and enhancements (#34)
  .env.example
  backend/internal/api/middleware/security.go
  backend/internal/api/router.go
  backend/internal/config/config.go
  docs/SECURITY.md
Due: backend-fmt, backend-vet

fix(scripts): Show conflict resolution steps when PR not mergeable
  scripts/pr-review.sh
Due: none

feat(backend): Add Favorite/Unfavorite API endpoints (Phase 6.2)
  backend/internal/api/handler/article.go
  backend/internal/api/handler/article_test.go
  backend/internal/api/router.go
  backend/internal/domain/errors.go
  backend/internal/repository/article.go
  backend/internal/service/article.go
Due: backend-fmt, backend-vet

test(backend): Add comprehensive service layer tests (Phase 7.1)
  backend/internal/service/article_test.go
  backend/internal/service/comment_test.go
  backend/internal/service/profile_test.go
Due: backend-fmt, backend-vet

docs(e2e): Add E2E test scenarios document (Phase 7.1)
  .gitignore
  docs/e2e-test-scenarios.md
  docs/plan.md
Due: none

fix(frontend): Fix Favorited Articles tab routing issue
  docs/e2e-test-scenarios.md
  frontend/src/routeTree.gen.ts
  frontend/src/routes/profile/$username/favorites.tsx
  frontend/src/routes/profile/$username/index.tsx
Due: frontend-lint, frontend-typecheck

feat(infra): Add production deployment infrastructure (Issue #27)
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  docs/issue-27-plan.md
  infra/bin/infra.ts
  infra/lib/ecs-stack.ts
  infra/lib/rds-stack.ts
  infra/lib/vpc-stack.ts
Due: none

docs: Add project documentation (Issue #28)
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/api.md
  docs/deployment.md
Due: none

chore: rename SECURITY.md to lowercase security.md
  README.md
  docs/security.md
Due: none

feat(config): add godotenv support for .env file loading
  backend/go.mod
  backend/go.sum
  backend/internal/api/router.go
  backend/internal/config/config.go
Due: backend-fmt, backend-vet

docs: Add AI-assisted development tutorial
  docs/tutorial/tutorial-ko.md
  docs/tutorial/tutorial.md
Due: none

chore: Add MAKE_TUTORIAL command and update .gitignore
  .claude/commands/MAKE_TUTORIAL.md
  .gitignore
Due: none

fix(backend): Update Go version to 1.23 for Docker build
  backend/Dockerfile
  backend/go.mod
Due: none

feat(config): support individual DB environment variables for AWS ECS
  .env.example
  backend/internal/config/config.go
  infra/lib/ecs-stack.ts
Due: backend-fmt, backend-vet

chore: update Go version to 1.24 and AWS region to us-east-1
  .github/workflows/ci.yml
  .github/workflows/deploy-backend.yml
  backend/Dockerfile
  backend/go.mod
  docs/deployment.md
  infra/bin/infra.ts
  infra/package-lock.json
Due: none

feat(backend): add PostgreSQL support for production deployment
  .gitignore
  backend/Dockerfile
  backend/db/migrations_postgres/000001_create_users_table.down.sql
  backend/db/migrations_postgres/000001_create_users_table.up.sql
  backend/db/migrations_postgres/000002_create_articles_table.down.sql
  backend/db/migrations_postgres/000002_create_articles_table.up.sql
  backend/db/migrations_postgres/000003_create_tags_table.down.sql
  backend/db/migrations_postgres/000003_create_tags_table.up.sql
  backend/db/migrations_postgres/000004_create_comments_table.down.sql
  backend/db/migrations_postgres/000004_create_comments_table.up.sql
  backend/db/migrations_postgres/000005_create_follows_table.down.sql
  backend/db/migrations_postgres/000005_create_follows_table.up.sql
  backend/db/migrations_postgres/000006_create_favorites_table.down.sql
  backend/db/migrations_postgres/000006_create_favorites_table.up.sql
  backend/go.mod
  backend/go.sum
  backend/internal/api/router.go
  backend/internal/repository/postgres_article.go
  backend/internal/repository/postgres_comment.go
  backend/internal/repository/postgres_follow.go
  backend/internal/repository/postgres_user.go
Due: backend-fmt, backend-vet

fix(frontend): resolve TypeScript errors for Docker build
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/article/ArticleCard.tsx
  frontend/src/components/article/ArticleMeta.tsx
  frontend/src/components/comment/CommentCard.tsx
  frontend/src/features/article/index.ts
  frontend/src/features/article/schemas.ts
  frontend/src/routes/article/$slug.tsx
  frontend/src/routes/editor/index.tsx
Due: frontend-lint, frontend-typecheck

fix(docker): resolve container startup issues
  backend/Dockerfile
  frontend/src/features/article/hooks.ts
  frontend/src/lib/api.ts
  frontend/src/routes/index.tsx
Due: frontend-lint, frontend-typecheck

fix(infra): correct CDK package versions
  infra/package-lock.json
  infra/package.json
Due: none

fix(infra): add explicit security group rule for ECS to RDS connection
  infra/bin/infra.ts
  infra/lib/ecs-stack.ts
Due: none

fix(infra): resolve cyclic dependency by passing security group ID
  infra/bin/infra.ts
  infra/lib/ecs-stack.ts
Due: none

Updates
  .claude/commands/MAKE_TUTORIAL.md
  .env.example
  .github/workflows/ci.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .gitignore
  assets/index-CEFVA9FN.js
  assets/index-jGMK-9TG.css
  frontend/.gitignore
  index.html
  infra/.gitignore
  infra/.npmignore
  vite.svg
Due: none

feat(frontend): add GitHub Pages deployment configuration
  frontend/.env.production
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: none

Updates
  assets/index-CEFVA9FN.js
  assets/index-DsJDM-Jz.js
  index.html
Due: none

Updates
  assets/index-DfeY84Pn.js
  assets/index-DsJDM-Jz.js
  index.html
Due: none

fix(frontend): add API URL to deploy script for GitHub Pages
  docs/aws-deployment-troubleshooting.md
  frontend/package.json
  frontend/src/App.tsx
Due: frontend-lint, frontend-typecheck

Updates
  assets/index-CzBb2Qew.js
  assets/index-DfeY84Pn.js
  index.html
Due: none

feat(infra): add CloudFront for HTTPS API access
  frontend/.env.production
  frontend/package.json
  infra/bin/infra.ts
  infra/lib/cloudfront-stack.ts
Due: none

docs: add frontend deployment troubleshooting guide
  docs/frontend-deployment-troubleshooting.md
Due: none

docs: add new troubleshooting sections for deployment issues
  docs/frontend-deployment-troubleshooting.md
Due: none

Path conditions:
  backend-fmt: any of: backend/**/*.go
  backend-vet: any of: backend/**/*.go
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx}
  frontend-typecheck: any of: frontend/**/*.{ts,tsx}
