Repository alexlee0213/handon-vibe-coding-realworld-vibe-coding: changes, and which lefthook commands are due for each by the changed paths.
All: backend-fmt, backend-vet, frontend-lint, frontend-typecheck

backend-fmt:
  run: cd backend && go fmt ./...
  stage_fixed: true

backend-vet:
  run: cd backend && go vet ./...

frontend-lint:
  run: cd frontend && npm run lint

frontend-typecheck:
  run: cd frontend && npm run typecheck

Add frontend initial setup (Phase 1.3)
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/lib/api.ts
  frontend/src/lib/queryClient.ts
  frontend/src/lib/theme.ts
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/index.tsx
  frontend/src/test/setup.ts
  frontend/src/test/utils.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: frontend-lint, frontend-typecheck

Add infrastructure initial setup with AWS CDK (Phase 1.4)
  infra/.gitignore
  infra/.npmignore
  infra/README.md
  infra/bin/infra.ts
  infra/cdk.json
  infra/jest.config.js
  infra/lib/vpc-stack.ts
  infra/package-lock.json
  infra/package.json
  infra/test/infra.test.ts
  infra/tsconfig.json
Due: none

Add integrated development environment setup (Phase 1.5)
  .env.example
  Makefile
  docker-compose.yml
  scripts/dev.sh
Due: none

Add Git Hooks tool comparison document (Husky vs Lefthook)
  docs/git-hooks-comparison.md
Due: none

Add database migrations for all entities (Phase 1.6)
  .env.example
  Makefile
  backend/db/migrations/000001_create_users_table.down.sql
  backend/db/migrations/000001_create_users_table.up.sql
  backend/db/migrations/000002_create_articles_table.down.sql
  backend/db/migrations/000002_create_articles_table.up.sql
  backend/db/migrations/000003_create_tags_table.down.sql
  backend/db/migrations/000003_create_tags_table.up.sql
  backend/db/migrations/000004_create_comments_table.down.sql
  backend/db/migrations/000004_create_comments_table.up.sql
  backend/db/migrations/000005_create_follows_table.down.sql
  backend/db/migrations/000005_create_follows_table.up.sql
  backend/db/migrations/000006_create_favorites_table.down.sql
  backend/db/migrations/000006_create_favorites_table.up.sql
Due: none

Add GitHub Actions CI/CD workflows (Phase 1.7)
  .github/workflows/ci.yml
  .github/workflows/deploy-frontend.yml
Due: none

Fix CI workflow issues
  .github/workflows/ci.yml
  frontend/src/test/setup.ts
Due: frontend-lint, frontend-typecheck

Fix CI: separate race detection from coverage
  .github/workflows/ci.yml
Due: none

Simplify backend CI tests (no coverage for now)
  .github/workflows/ci.yml
Due: none

Add user domain model and repository (Phase 2.1)
  backend/go.mod
  backend/go.sum
  backend/internal/domain/errors.go
  backend/internal/domain/user.go
  backend/internal/repository/user.go
  backend/internal/repository/user_test.go
Due: backend-fmt, backend-vet

Add development guidelines to CLAUDE.md
  CLAUDE.md
Due: none

Add authentication service with TDD (Phase 2.2)
  backend/go.mod
  backend/go.sum
  backend/internal/service/auth.go
  backend/internal/service/auth_test.go
Due: backend-fmt, backend-vet

Add Auth API handlers and middleware with TDD (Phase 2.3)
  backend/internal/api/handler/user.go
  backend/internal/api/handler/user_test.go
  backend/internal/api/middleware/auth.go
  backend/internal/api/middleware/auth_test.go
Due: backend-fmt, backend-vet

Add frontend auth state management (Phase 2.4)
  frontend/src/features/auth/api.ts
  frontend/src/features/auth/hooks.ts
  frontend/src/features/auth/index.ts
  frontend/src/features/auth/schemas.ts
  frontend/src/features/auth/store.ts
  frontend/src/features/auth/types.ts
Due: frontend-lint, frontend-typecheck

Add frontend auth UI and routing (Phase 2.5)
  frontend/src/components/auth/AuthGuard.tsx
  frontend/src/components/auth/index.ts
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/index.ts
  frontend/src/features/auth/store.test.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/register.tsx
  frontend/src/routes/settings.tsx
  frontend/src/test/test-utils.tsx
Due: frontend-lint, frontend-typecheck

Wire up auth API routes and fix TanStack Router code generation
  backend/cmd/server/main.go
  backend/internal/api/router.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routeTree.gen.ts
  frontend/vite.config.ts
Due: backend-fmt, backend-vet, frontend-lint, frontend-typecheck

feat(backend): Add Article domain model and repository (Phase 3.1)
  backend/go.mod
  backend/go.sum
  backend/internal/domain/article.go
  backend/internal/repository/article.go
  backend/internal/repository/article_test.go
  backend/internal/util/slug.go
  backend/internal/util/slug_test.go
Due: backend-fmt, backend-vet

feat(backend): Add Article API endpoints (Phase 3.2)
  backend/internal/api/handler/article.go
  backend/internal/api/handler/article_test.go
  backend/internal/api/router.go
  backend/internal/service/article.go
Due: backend-fmt, backend-vet

feat(frontend): Add Article state management (Phase 3.3)
  frontend/src/features/article/api.ts
  frontend/src/features/article/hooks.ts
  frontend/src/features/article/index.ts
  frontend/src/features/article/schemas.ts
  frontend/src/features/article/types.ts
Due: frontend-lint, frontend-typecheck

feat(frontend): Add Article UI components and pages (Phase 3.4)
  frontend/src/components/article/ArticleCard.tsx
  frontend/src/components/article/ArticleList.tsx
  frontend/src/components/article/ArticleMeta.tsx
  frontend/src/components/article/TagList.tsx
  frontend/src/components/article/index.ts
  frontend/src/routes/article/$slug.tsx
  frontend/src/routes/editor/$slug.tsx
  frontend/src/routes/editor/index.tsx
  frontend/src/routes/index.tsx
Due: frontend-lint, frontend-typecheck

docs: Enforce Playwright MCP testing for frontend UI issues
  CLAUDE.md
  frontend/src/components/article/ArticleCard.tsx
  frontend/src/components/article/TagList.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/article/$slug.tsx
Due: frontend-lint, frontend-typecheck

feat(backend): Add Comment and Tag domain models and repositories (Phase 4.1)
  backend/internal/domain/comment.go
  backend/internal/domain/tag.go
  backend/internal/repository/comment.go
  backend/internal/repository/comment_test.go
  backend/internal/repository/tag.go
  backend/internal/repository/tag_test.go
Due: backend-fmt, backend-vet

feat(backend): Add Comment API endpoints (Phase 4.2)
  backend/internal/api/handler/comment.go
  backend/internal/api/handler/comment_test.go
  backend/internal/api/router.go
  backend/internal/service/comment.go
Due: backend-fmt, backend-vet

docs: Add plan.md update requirement to CLAUDE.md
  CLAUDE.md
  docs/plan.md
Due: none

docs: Update plan.md checklist for completed phases (1.2 - 4.2)
  docs/plan.md
Due: none

feat(frontend): Add Comment UI components (Phase 4.3)
  docs/plan.md
  frontend/src/components/comment/CommentCard.test.tsx
  frontend/src/components/comment/CommentCard.tsx
  frontend/src/components/comment/CommentForm.tsx
  frontend/src/components/comment/CommentList.test.tsx
  frontend/src/components/comment/CommentList.tsx
  frontend/src/components/comment/index.ts
  frontend/src/features/comment/api.ts
  frontend/src/features/comment/hooks.test.ts
  frontend/src/features/comment/hooks.ts
  frontend/src/features/comment/index.ts
  frontend/src/features/comment/schemas.ts
  frontend/src/features/comment/types.ts
  frontend/src/routes/article/$slug.tsx
  frontend/src/test/utils.tsx
Due: frontend-lint, frontend-typecheck

feat(backend): Add Profile domain and Follow repository (Phase 5.1)
  backend/internal/domain/profile.go
  backend/internal/domain/profile_test.go
  backend/internal/repository/follow.go
  backend/internal/repository/follow_test.go
Due: backend-fmt, backend-vet

feat(backend): Add Profile/Follow API endpoints (Phase 5.2)
  backend/internal/api/handler/profile.go
  backend/internal/api/handler/profile_test.go
  backend/internal/api/router.go
  backend/internal/service/profile.go
Due: backend-fmt, backend-vet

feat(frontend): Add Profile UI with follow/unfollow (Phase 5.3)
  frontend/src/components/profile/ProfileCard.test.tsx
  frontend/src/components/profile/ProfileCard.tsx
  frontend/src/components/profile/index.ts
  frontend/src/features/profile/api.ts
  frontend/src/features/profile/hooks.ts
  frontend/src/features/profile/index.ts
  frontend/src/features/profile/types.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/profile/$username.favorites.tsx
  frontend/src/routes/profile/$username.tsx
Due: frontend-lint, frontend-typecheck

feat(backend): Add Favorite repository (Phase 6.1)
  backend/internal/repository/favorite.go
  backend/internal/repository/favorite_test.go
Due: backend-fmt, backend-vet

feat(backend): Add Feed and Favorite API endpoints (Phase 6.2)
  backend/internal/api/handler/article.go
  backend/internal/api/handler/article_test.go
  backend/internal/api/router.go
  backend/internal/repository/favorite.go
  backend/internal/repository/favorite_test.go
  backend/internal/service/article.go
Due: backend-fmt, backend-vet

feat(frontend): Add FavoriteButton with optimistic updates (Phase 6.3)
  frontend/src/components/article/ArticleCard.tsx
  frontend/src/components/article/FavoriteButton.test.tsx
  frontend/src/components/article/FavoriteButton.tsx
  frontend/src/components/article/index.ts
  frontend/src/features/article/api.ts
  frontend/src/features/article/hooks.ts
  frontend/src/features/article/index.ts
Due: frontend-lint, frontend-typecheck

feat(test): add E2E tests and component tests
  .gitignore
  Makefile
  frontend/e2e/article.spec.ts
  frontend/e2e/auth.spec.ts
  frontend/e2e/profile.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/article/ArticleCard.test.tsx
  frontend/src/components/article/ArticleMeta.test.tsx
  frontend/src/components/article/TagList.test.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/vite.config.ts
  frontend/vitest.config.ts
  scripts/pr-review.sh
Due: frontend-lint, frontend-typecheck

feat(security): add security review and enhancements
  .env.example
  backend/internal/api/middleware/security.go
  backend/internal/api/router.go
  backend/internal/config/config.go
  docs/SECURITY.md
Due: backend-fmt, backend-vet

feat(scripts): Add PR review automation script
  scripts/pr-review.sh
Due: none

fix(scripts): Handle own PR review by using comments
  scripts/pr-review.sh
Due: none

feat(frontend): Add Profile UI with follow/unfollow (Phase 5.3) (#29)
  frontend/src/components/profile/ProfileCard.test.tsx
  frontend/src/components/profile/ProfileCard.tsx
  frontend/src/components/profile/index.ts
  frontend/src/features/profile/api.ts
  frontend/src/features/profile/hooks.ts
  frontend/src/features/profile/index.ts
  frontend/src/features/profile/types.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/profile/$username.favorites.tsx
  frontend/src/routes/profile/$username.tsx
Due: frontend-lint, frontend-typecheck

feat(scripts): Auto-merge own PR when all checks pass
  scripts/pr-review.sh
Due: none

feat(backend): Add Favorite repository (Phase 6.1) (#30)
  backend/internal/repository/favorite.go
  backend/internal/repository/favorite_test.go
Due: backend-fmt, backend-vet

fix(scripts): Check mergeable status before merging PR
  scripts/pr-review.sh
Due: none

Path conditions:
  backend-fmt: any of: backend/**/*.go
  backend-vet: any of: backend/**/*.go
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx}
  frontend-typecheck: any of: frontend/**/*.{ts,tsx}
